

:root {
    --fontColor: white;
  }

  html {
    min-height: 100%;
    margin: 0;
}


body {
    background-image: 
    linear-gradient(to top left, rgba(202, 76, 76, 0.476), rgb(164, 43, 37, 0.925) 70%), 
    url('image-2.png');    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
  }
  
.greeting {
  position: relative;
  display: block;
  margin-left: 12%;
  margin-top: 18.5%;
  font-size: 325%;
  color: var(--fontColor);
  font-family: Tahoma;
  font-weight: 600;

  width: auto;
  height: auto;

}

.query-bar {
  display: inline-block;
  position: relative;
  margin-top: -0.5%;
  font-size: 75%;
  left: 12%;
}

#query {
  width: 320%;
  height: 6.5vh;

  background: rgb(255, 255, 255);
  border-radius: 1vw;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.54);

  color: rgb(104, 98, 98);
}

.query-button {
  position: absolute;
  margin-left: 2vw;
  right: -275%;
  top: 0;
  background-color: white;
  border: 1px solid white;

  border-radius: 1vw;
  height: 6.5vh;
  width: 7vw;
  cursor: pointer;

  color: rgb(104, 98, 98, 0.7);
  font-size: 100%;

}

.query-button:hover{
  opacity: 75%;
  transition-duration: 0.3s;
}

.query-input{
    font-size: 125%;
    padding-left: 2vw;
}

.closedFilterDropdownButton {
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  position: absolute;
  margin-top: 5%;
  left: 14%;

  width: 290%;

  cursor: pointer;

  border-width: 0;
  border-radius: 1vw;
  background-color: rgba(255, 255, 255, 0.4);
  color: white;

  font-size: 125%
}

.closedFilterDropdownButton:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition-duration: 0.3s;
}

.openFilterDropdownButton{
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  position: absolute;
  margin-top: 5%;
  left: 14%;

  width: 290%;

  cursor: pointer;

  border-width: 0;
  border-radius: 1vw 1vw 0 0;
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  border-color: transparent;

  font-size: 125%;
}

.openFilterDropdownButton:hover{
  background-color: rgba(255, 255, 255, 0.05);
  transition: 0.3s;
}

.dropdownMenu {
  position:absolute;
  margin-top: 5%;
  left: 14%;

  background-color: white;

  width: 290%;
  height: 550%;

  border-width: 0;
  border-radius: 1vw;
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
}

.headerContainer {
  padding-top: 4%;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
  gap: 0;
}

.subjectCode{
  height: 30.5vh; 
  background-color: transparent;
  flex: 1; 
  text-align: center;
  margin-top: 0.5vw;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 140%;
}

.subjectCodeSelectDeselectAllText{
  padding-top: 0.5vh;
  font-size: 80%;
}

.isFWS{
  font-size: 80%;
  padding-bottom: 0.5vh;
}

.subjectCodeCheckboxes{
  height: 21vh;
  width: 75%;
  overflow: scroll;
  scrollbar-width: thin;
  font-size: 80%;
  text-align: left;
  margin-left: 22.5%;
}

.subjectCodeCheckboxes::-webkit-scrollbar {
  display: none;
}



.subjectNumbers {
  height: 30.5vh; 
  background-color: transparent;
  flex: 1; 
  text-align: center;
  margin-top: 0.5vw;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 140%;
}

.MinMaxInputs{
  border-width: 0;
  border-radius: 0.5vw;
  height: 15%;
  margin-bottom: 8%;
  width: 90%;
}

.MinMaxLabels{
  padding-top: 5vh;
  line-height: 150%;
}

.MinMaxInputs::placeholder{
  font-size: 120%
}





.credits {
  height: 30.5vh; 
  background-color: transparent;
  flex: 1; 
  text-align: center;
  margin-top: 0.5vw;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 140%;
}

.distributions {
  height: 30.5vh; 
  background-color: transparent;
  flex: 1; 
  text-align: center;
  margin-top: 0.5vw;
  font-size: 140%;
}

.distributionSelectDeselectAllText{
  padding-top: 0.5vh;
  font-size: 80%;
}
.isLAD{
  padding-bottom: 0.5vh;
  font-size: 80%;
}

.distributionCheckboxes{
  height: 21vh;
  width: 75%;
  overflow: scroll;
  scrollbar-width: thin;
  font-size: 80%;
  text-align: left;
  margin-left: 22.5%;
}

.distributionCheckboxes::-webkit-scrollbar {
  display: none;
}

.break{
  line-height: 20%;
}




