.individualResult{
    padding-bottom: 1vh;
    margin-bottom: 1vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    cursor: pointer;
}

.resultsContainer {
    display: flex;
    width: 100%;
    position: fixed;
    overflow: hidden;
}

.results{
    padding-top: 6%;
    overflow-y:auto;

    overflow-y: auto;
    position: relative;
    box-sizing: border-box;
}

.courseDropdownMenu{
    font-size: 100%;
    width: 50%;
    background: rgba(255, 255, 255, 0.9);

    border-radius: 1vw;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(255, 255, 255, 0.76);
    font-family: Tahoma;
    padding: 0.25vw;
    text-align: justify;
    font-size: 110%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.75vh;
    padding-bottom: 0.75vh;
    cursor: pointer;
}

.courseDropdownMenu:hover {
    background-color: rgba(200, 200, 200, 0.7);
    border-color: rgba(200, 200, 200, 0.7);

    transition: 0.3s;
  }

.container{
    display: flex;
}

.container > div {
    flex: 20000; /* This will make divs equal width */
  }

.Description{
    padding-right: 1.6vh;
}

.Extraneous{
    border-left: 0.15vw solid black;
    height: auto;
    padding-left: 0.9vw;
}


.IndividualResultDescription {
    padding: 1.5%;
    font-size: 90%;
    
}