:root {
    --TaskBarColor: rgba(179, 27, 27)
      
}


.Task-Bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--TaskBarColor);
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: Tahoma;
  font-size: 125%;
}

.Logo-Button{
  background: transparent;
  border-color: transparent;
}

.home-button-image{
  max-height: 6vh;
}



